<div class="card login-wrapper">
  <form #signupForm="ngForm" (ngSubmit)="onSignup()" class="login">
      <label class="title">
          Get Started With a Layers Portfolio for Free
      </label>
      <div class="login-group">
          <label for="username">Username</label>
          <label for="username"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-md"
                [class.invalid]="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
                <input type="text" id="username" placeholder="Enter Username"
                    required
                    name="username"
                    class="username"
                    [(ngModel)]="details.username"
                    #usernameInput="ngModel">
                <span class="tooltip-content">
                    Username is Required.
                </span>
            </label>
            <label for="username">Email</label>
          <label for="email"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-md"
                [class.invalid]="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                <input type="email" id="email" placeholder="Enter email"
                    required
                    name="email"
                    class="username"
                    [(ngModel)]="details.attributes.email"
                    #emailInput="ngModel">
                <span class="tooltip-content">
                    A Valid Email Address is Required.
                </span>
            </label>
          <label for="password">password</label>
          <label for="password"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-md"
                [class.invalid]="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                <input type="password" id="password" placeholder="Enter password"
                    required
                    name="password"
                    class="password"
                    [(ngModel)]="details.password"
                    #passwordInput="ngModel">
                <span class="tooltip-content">
                    A Password is Required.
                </span>
            </label>
          <button [disabled]="signupForm.form.invalid" type="submit" class="btn btn-primary">
              <span *ngIf="isLoading$ | async" class="spinner spinner-inline"></span>
              Sign Up
            </button>
            <div *ngIf="error$ | async; let error" class="error active">
              Error {{error}}
          </div>
          <a routerLink="../../login" class="signup">Already have an account?</a>
      </div>
  </form>
</div>