.main-container {
  animation: app-entrance 1s; 

  // .content-area {
  //   padding: 0;
  // }
}

@keyframes app-entrance {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}